<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
    <link href="custom.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"/>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
<body>
<div class="col-12 vertical-center">
    <div class="container">

        <div class="card">
            <div class="card-header bg-info text-center text-white">
                <h3>Add Todo Item</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/todo/save}" method="POST" id="todoForm">
                    <div class="row">
                        <div class="col-2">
                            <label for="name"><b>Todo Item NAME</b></label>
                        </div>
                        <div class="col-4">
                            <input type="text" name="name" id="name" required
                                   class="form-control"/>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-success">Save Todo List <i class="fa fa-plus-square"
                                                                                    aria-hidden="true"></i></button>
                </form>
            </div>
            <div th:if="${message!=null}" class="card-footer bg-white text-info">
                <span th:text="${message}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</head>
<body>

</body>
</html>