<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Dash Board</title>
    <link href="custom.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"/>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

</head>
<body>
<div class="col-12 vertical-center">
    <div class="container" style="align-content: center;">
        <div class="card">
            <div class="card-header bg-info text-center text-white">
                <h3>List Of Todo Items</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr class="bg-dark text-white">
                        <th>ID</th>
                        <th>Name</th>
                        <th>IsCompleted</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Edit/Delete</th>
                    </tr>
                    <tr th:each="ob:${todoTasks}">
                        <td th:text=${ob.taskId}></td>
                        <td th:text=${ob.name}></td>
                        <td th:text=${ob.isCompleted}></td>
                        <td th:text=${ob.createdAt}></td>
                        <td th:text=${ob.updatedAt}></td>
                        <td><a th:href="@{/todo/deleteById(taskId=${ob.taskId})}" class="btn btn-danger">DELETE <i
                                class="fa fa-trash-o" aria-hidden="true"></i></a> |
                            <a th:href="@{/todo/edit(taskId=${ob.taskId})}" class="btn btn-warning">EDIT <i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    </tr>
                </table>
                <a th:href="@{/todo/createTodoItem}" class="btn btn-success ">Add Todo Item <i class="fa fa-plus-square"
                                                                                               aria-hidden="true"></i></a>
            </div>
            <div class="card-footer bg-white text-success" th:if="${message!=null}">
                <span th:text="${message}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>