<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link href="custom.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Update Todo Item</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
</head>
<body>
<div class="col-12 vertical-center">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h3>Edit Todo Item</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/todo/update}" method="POST" id="todoForm" th:object="${todoTask}">
                    <div class="row">
                        <div class="col-2">
                            <label>ID</label>
                        </div>
                        <div class="col-4">
                            <input type="text" th:field="*{taskId}" class="form-control" readonly/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-2">
                            <label>NAME</label>
                        </div>
                        <div class="col-4">
                            <input type="text" th:field="*{name}" class="form-control" readonly/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-2">
                            <label>COMPLETED</label>
                        </div>
                        <div class="col-4">
                            <select th:field="*{completed}" class="form-control">
                                <option th:value="'true'" th:text="True"></option>
                                <option th:value="'false'" th:text="False"></option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-success">Update <i class="fa fa-wrench" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
</body>
</html>